.banner.pb-1 {
    width: 100%;
    height: 400px;
    position: relative;
    overflow: hidden;
    padding: 0 !important;
}

.banner.pb-1 > * {
	width: 100%;
	height: 100%;
	position: absolute;
	left: 0;
	top: 0;
	z-index: 0;
	opacity: 0;
	visibility: hidden;
	transition: all .5s ease-out;
}

.banner.pb-1 img {
	width: 100%;
    height: 100%;
	object-fit: cover;
}

.banner.pb-1 > *.active {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}

.slider-arrow {
	width: 50px !important;
	height: 50px !important;
	border-radius: 50%;
	top: auto !important;
	left: auto !important;
	right: 25px;
	bottom: 50px;
	z-index: 50 !important;
	opacity: 1 !important;
	visibility: visible !important;
	border: none;
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	background-color: transparent;
	background-image: url(./icons/arrow-right.svg);
}

.slider-arrow:focus {
  outline: none;
}

.slider-arrow:hover {
	background-image: url(./icons/arrow-right-hovered.svg);
}

.slider-arrow-left {
	right: 100px !important;
	background-image: url(./icons/arrow-left.svg);
}

.slider-arrow-left:hover {
	background-image: url(./icons/arrow-left-hovered.svg);
}